<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Casa Criativa</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div id="container">
<section id="intro">

    <header>
        <a href="/">
            <img src="/logo.png" alt="Imagem da Logomarca">
        </a>


    </header>
    
    <main>
        <p>
            Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>

        <p>
            Por isso, iremos catalogar ideias, <strong>brincadeiras, jogos, filmes, 
            livros, cursos, dicas</strong> e tudo que for necessário para tornar
            esse momento mais interessante.
        </p>

        <p>
            Comece clicando em ver ideias para ver as 
            ideias cadastradas e contribua adicionando sua ideia.
        </p>
    </main>
    
    <section id="buttons">
        <button onclick="onOff()">+ Adicionar Ideia</button>
        <a href="/ideias" class="button">Ver Ideias</a>
    </section>
            
    <footer>
        <p id="footer">Com 💓 <a href="http://rocketseat.com.br" target="_blank"> Rocketseat</a></p>

    </footer>


</section>

<section id="last-ideias">

    {%  for idea in ideas   %}
        <div class="idea">
            <img src="{{idea.img}}" 
            alt="Imagem de {{idea.title}}">

            <div class="content">
                <h3>{{idea.title}}</h3>
                <p>{{idea.category}}</p>
                <div class="description">
                    {{idea.description}}
                </div>
                <a href="{{idea.url}}">Ir para a Ideia</a>
        </div>
    </div>

    {% endfor %}

</section>
</div>


<!--Modal-->
{%include "modal.html"%}

<script src="/scripts.js"></script>
</body>
</html>